[mongodb]
database.user=bdm
database.host=dodrio.fib.upc.es:27017
database.password=

[monetdb]
database.user=monetdb
database.host=dodrio.fib.upc.es
database.password=

[hdfs]
hdfs.host=dodrio.fib.upc.es
hdfs.user=bdm
