[mongodb]
database.user=bdm
database.host=dodrio.fib.upc.es:27017
database.password=

[monetdb]
database.user=monetdb
database.host=dodrio.fib.upc.es
database.password=

[hdfs]
hdfs.host=dodrio.fib.upc.es:9870
hdfs.user=bdm

[kafka]
kafka.server=venomoth.fib.upc.edu:9092
kafka.topic=bdm_p2
